{% extends 'user/base.html' %}
{% block title %}
about
{% endblock %}
{% block content %}
<div class="contain">
    <div class="about-back"></div>
    <div class="about-head">
        <h1 class="big">Welcome</h1><br><br>
        <div class="p">
            <p class="about-p">Many new comers in the field of computer science don't know where to start.By singularity
                we aim to provide an all and in-depth introduction and guidance in various topics and categories. This
                site was developed as a tool to provide the understanding of everythin related to computer science. And
                most importantly how to begin!!</p>
        </div>
    </div>
    <!-- <div style="position: static;"></div> -->
</div>

{% endblock %}