{% extends 'user/base.html' %}
{% block title %}
various websites
{% endblock %}
{% block content %}
<div class="container" style="margin-top:130px;">
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a id="uu"href="https://www.udacity.com/">1.Udacity</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">The mission of UdaCity is to provide affordable, accessible, highly effective, and engaging higher education to the entire world. They believe that education is a necessity for all humans, and seeks to motivate their students to excel in their education and careers.</div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://treehouse.7eer.net/dngJW"style="font-size:28px;">2.Treehouse</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">Students will be able to learn from more than 1,000 videos that have been created by experts on the topics of web design, coding, etc. The library is continuously refreshed so that it reflects the latest news and information on web technologies and coding so that it is always right at or ahead of the curve. </div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://www.edx.org/"style="font-size:28px;">3. EDX</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">This leading online learning platform is not for-profit; it is open source. It was founded in 2012 by MIT and Harvard. Because of this, you know you will be learning about the newest and cutting-edge theories and technologies available. EdX has over 90 partners around the world, and include the world's leading nonprofits, universities, and institutions.</div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://www.coursera.org/"style="font-size:28px;">4.Coursera</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">Since its inception in 2012, Coursera has matured into a large for-profit educational and technological company that offers over 1,000 courses that come from 119 institutions. There are a number of introductory programming courses that are free from leading universities like Vanderbilt, University of Toronto, Stanford, and the University of Washington. </div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://www.freecodecamp.com/"style="font-size:20px;">5.FreeCodeCamp</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">The main purpose of Free Code Camp is to teach code to those who will learn it so that they will help nonprofits. The organization has solved over 30 million coding challenges, and has donated over $1.4 million in development work. In addition to all of that, over 4,000 individuals have landed developer jobs thanks to the courses offered by Free coding Camp. </div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://github.com/"style="font-size:28px;">6.Github</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">Use GitHub sort of as a reference point. There are over 500 free books on programming that will cover over 80 different programming languages on the Git repository hosting service. Collaborators work quite hard to make sure that these resources are updated frequently and accurately.</div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://www.codecademy.com/"style="font-size:24px;">7.Codecademy</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">Codecademy is committed to giving the best learning experience through and through, making it one of the best places to learn how to code. Code Academy realizes that programming is not traditionally thought of when considering public school education, and this company has found a way to manipulate the way that education works. </div>
        </div>
    </div>
    <div class="row l">
        <div class="col-md-3 col-4">
            <div class="in-box"><a href="https://www.udemy.com/">8.Udemy</a></div>
        </div>
        <div class="col-md-8 right-box col">
            <div class="text">This online learning platform was founded in 2010 and can be used as a way for individuals to learn or improve job skills. There is a small selection of free programming courses that are taught through video lessons, but there are also courses that are available for a set price. It is a global marketplace for teaching and learning online. </div>
        </div>
    </div>


</div>
{% endblock %}